:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    --bg-color: #e8edf1;
  --text-color: #222;
  --card-bg: #f8fafc;
  --modal-bg: #f8fafc;
  --button-bg: #1abc9c;
  --button-text: #fff;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  font-size: 32px;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}


.app-container {
  display: flex;
  /* height: 100vh; */
  width: 100%;
}

/* If sidebar is closed on small screens, main content takes full width */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}

html, body {
  height: 100%;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
}

.swal2-container {
  z-index: 999999999999999;
}

/* Chrome, Edge, Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* invert colors to make it visible in dark mode */
  cursor: pointer;
}

/* Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  color: #1abc9c; /* any visible color */
  cursor: pointer;
}

